target/
project/project/
project/target/
.idea
.idea_modules
gen/
local.properties
debug.properties
release.properties
crashlytics.properties
src/main/res/values/com_crashlytics_export_strings.xml
src/main/assets/crashlytics-build.properties
proguard-sbt.txt