// Footer
//---------------------------------------
//---------------------------------------
footer#bottom {
    padding: 30px 0;
    background: darken($primary-color, 10%);
    position: relative;
    z-index: 2;
}