<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.translatebubble"
          android:versionCode="1"
          android:versionName="0.9">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>

    <application
            android:icon="@drawable/icon_app"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.wizard.WizardActivity"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.preferences.MainActivity"
                  android:label="@string/app_name"/>

        <service
                android:name=".ui.bubbleservice.BubbleService"
                />

        <service
                android:name=".services.RestartTranslationService"
                />

        <receiver
                android:enabled="true"
                android:name=".receivers.BootReceiver"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>