<!--
  ~ Copyright (C) 2015 47 Degrees, LLC http://47deg.com hello@47deg.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.translatebubble"
          android:versionCode="7"
          android:versionName="1.0.6">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>

    <application
            android:icon="@drawable/icon_app"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.wizard.WizardActivity"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.history.TranslationHistoryActivity"
                  android:label="@string/history"/>

        <activity android:name=".ui.preferences.MainActivity"
                  android:label="@string/app_name"/>

        <activity android:name=".ui.bubbleservice.SharedActivity"
                  android:label="@string/shareActivityLabel"
                  android:theme="@style/AppTransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
                android:name=".ui.bubbleservice.BubbleService"
                />

        <service
                android:name=".services.RestartTranslationService"
                />

        <receiver
                android:enabled="true"
                android:name=".receivers.BootReceiver"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <provider
                android:authorities="com.fortysevendeg.translatebubble"
                android:name=".provider.TranslateBubbleContentProvider"
                android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>